<a href="https://colab.research.google.com/github/Albert8754/TSWORKS/blob/main/complaince.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
from datetime import datetime

In [10]:
df=pd.read_csv("/content/verafin.txt",header = 0,delimiter = '|')

In [15]:
now = datetime.now ()
df

,Institution Number,Customer Number,Account Branch Number,Account Number,External Number,Account Type Code,Account Type Code Description,Account Subtype,Account Purpose Flag,Currency Type,...,Status,Status Description,Positive Pay,Ledger Balance,Ledger Balance Date,Available Balance,Available Balance Date,Account Note,System ID,Fintech Program
0,0,4ixyI-F4iHZNxV---kPF-Bg-,1,300000000963,300000000963,DDA,NaN,DDA1001,PERSONAL,USD,...,CLOSED,NaN,NaN,0.00,NaN,0.00,2022-05-17,NaN,NaN,NaN
1,0,4iNod4GSGElDtk--0VHF-Bg-,1,200000000836,200000000836,SAV,NaN,P2001,PERSONAL,USD,...,CLOSED,NaN,NaN,0.00,NaN,0.00,2022-05-16,NaN,NaN,NaN
2,0,4iNod4GSGElDtk--0VHF-Bg-,1,200000001069,200000001069,SAV,NaN,P2001,PERSONAL,USD,...,CLOSED,NaN,NaN,0.00,NaN,0.00,2022-05-19,NaN,NaN,NaN
3,0,4ij26NwJGqpt0V---kiF-Bg-,1,200000002046,200000002046,SAV,NaN,P2001,PERSONAL,USD,...,ACTIVE,NaN,NaN,0.00,NaN,0.00,2022-07-10,NaN,NaN,NaN
4,0,4iNod4GSGElDtk--0VHF-Bg-,1,300000000665,300000000665,DDA,NaN,DDA1001,PERSONAL,USD,...,CLOSED,NaN,NaN,0.00,NaN,0.00,2022-05-10,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,0,4iNnE65wwh-qdV---kuF-Bg-,1,300000001023,300000001023,DDA,NaN,DDA1001,PERSONAL,USD,...,CLOSED,NaN,NaN,0.00,NaN,0.00,2022-05-17,NaN,NaN,NaN
169,0,4ij1JO9lOYB5zF---kHF-Bg-,1,300000001342,300000001342,DDA,NaN,DDA1001,PERSONAL,USD,...,ACTIVE,NaN,NaN,0.00,NaN,0.00,2022-06-21,NaN,NaN,NaN
170,0,4j-9ESKAp_KYTF---kqF-Bg-,1,300000001303,300000001303,DDA,NaN,DDA1001,PERSONAL,USD,...,CLOSED,NaN,NaN,0.00,NaN,0.00,2022-06-20,NaN,NaN,NaN
171,0,4jiWeqIlvafQHk---kXF-Bg-,1,300000001391,300000001391,DDA,NaN,DDA1001,PERSONAL,USD,...,ACTIVE,NaN,NaN,209.57,NaN,209.57,2022-06-24,NaN,NaN,NaN
172,0,4jkAISNqWAOCdk----LF-Bg-,1,300000001417,300000001417,DDA,NaN,DDA1001,PERSONAL,USD,...,ACTIVE,NaN,NaN,0.00,NaN,0.00,2022-06-26,NaN,NaN,NaN

In [16]:
df.assign(md5_values=1 ,processed_flag= now ,processed_date= now).head()

,Institution Number,Customer Number,Account Branch Number,Account Number,External Number,Account Type Code,Account Type Code Description,Account Subtype,Account Purpose Flag,Currency Type,...,Ledger Balance,Ledger Balance Date,Available Balance,Available Balance Date,Account Note,System ID,Fintech Program,md5_values,processed_flag,processed_date
0,0,4ixyI-F4iHZNxV---kPF-Bg-,1,300000000963,300000000963,DDA,NaN,DDA1001,PERSONAL,USD,...,0.0,NaN,0.0,2022-05-17,NaN,NaN,NaN,1,2022-08-01 07:09:44.331720,2022-08-01 07:09:44.331720
1,0,4iNod4GSGElDtk--0VHF-Bg-,1,200000000836,200000000836,SAV,NaN,P2001,PERSONAL,USD,...,0.0,NaN,0.0,2022-05-16,NaN,NaN,NaN,1,2022-08-01 07:09:44.331720,2022-08-01 07:09:44.331720
2,0,4iNod4GSGElDtk--0VHF-Bg-,1,200000001069,200000001069,SAV,NaN,P2001,PERSONAL,USD,...,0.0,NaN,0.0,2022-05-19,NaN,NaN,NaN,1,2022-08-01 07:09:44.331720,2022-08-01 07:09:44.331720
3,0,4ij26NwJGqpt0V---kiF-Bg-,1,200000002046,200000002046,SAV,NaN,P2001,PERSONAL,USD,...,0.0,NaN,0.0,2022-07-10,NaN,NaN,NaN,1,2022-08-01 07:09:44.331720,2022-08-01 07:09:44.331720
4,0,4iNod4GSGElDtk--0VHF-Bg-,1,300000000665,300000000665,DDA,NaN,DDA1001,PERSONAL,USD,...,0.0,NaN,0.0,2022-05-10,NaN,NaN,NaN,1,2022-08-01 07:09:44.331720,2022-08-01 07:09:44.331720